body {
  margin: 0;
  font-family: 'Trebuchet MS', Arial, 'Lucida Grande', Verdana, Lucida, Helvetica, sans-serif;
  color: #555;
  background: #f5f6eb;
  background-image: 
    linear-gradient(90deg, transparent 79px, #c9cabb 79px, #c9cabb 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #888;
  }
}

a.link-header {
  border: 1px solid transparent;
  border-radius: .5em;
  padding: .2em .3em .3em;
  color: white;
}
a.link-header:hover {
  background: rgba(255,255,255,.2);
}

a.link-to {
  color: inherit;
  &:hover {
    color: #0073aa;
  }
}

a.link-expand {
  color: #0073aa;
  &:hover {
    color: #04577e;
  }
}

.posts-container {
  margin: .2em auto;
  padding: 2em 1em 1em 1em;
  box-sizing: border-box;
  article {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #eff0dc;
    box-shadow: 0 5px 4px -4px #c9cabb;
    background: white;
    h3 {
      margin: .5em 0;
      font-size: 1.8em;
    }
    .post-info {
      font-family: Georgia, serif;
      font-style: italic;
      color: #aeaeae;
    }
    .post-summary {
      line-height: 1.2em;
      max-height: 6em;
      overflow: hidden;
    }
  }
}

aside {
  /* TODO: in pending for aside content */
  display: none;
  margin: .2em;
  padding: 2em 1em 1em 1em;
  h2 {
    margin-bottom: .5em;
    padding-bottom: .2em;
    border-bottom: 1px solid #ddd;
  }
  .search-posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    background: white;
    input[type=text] {
      border: none;
      outline: none;
      padding: .6em .9em;
      height: 1.2em;
      font-size: inherit;
      width: 90%;
    }
    input[type=image] {
      padding-right: .6em;
      outline: none;
    }
  }
  section {
    margin-bottom: 2.5em;
  }
  ul {
    margin-top: 0;
    list-style: none;
    padding-left: .6em;
    li {
      padding: .2em 0;
    }
  }
}

.post-detail {
  img {
    display: block;
    max-width: 100%;
  }
}
