body {
  margin: 0;
  font-family: "Microsoft Yahei",SimSun,sans-serif;
  color: #555;
  background: #f5f6f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

a {
  color: #555;
  text-decoration: none;
  &:hover {
    color: #333;
  }
}
