button {
  padding: .3em .8em;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 1em / 50%;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  outline: none;
  background: transparent;
  &:hover {
    border: 1px solid #333;
  }
}

button.error {
  border: 1px solid #bf162a;
  color: #860918;
  &:hover {
    border: 1px solid #860918;
  }
}

button.normal {
  border: 1px solid #78d858;
  color: #4a993e;
  &:hover {
    border: 1px solid #4a993e;
  }
}

button.primary {
  border: 1px solid #58a;
  color: #395d75;
  &:hover {
    border: 1px solid #395d75;
  }
}
