#app-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  font-family: "Microsoft Yahei",SimSun,sans-serif;
  background: #58a;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  color: white;
  h1 {
    padding-left: 1.6em;
    background: url("../images/logo.png") no-repeat center left;
    background-size: auto 100%;
    a {
      color: white;
      &:hover {
        color: #aab2ec;
      }
    }
  }
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 10em;
  }
  .logo {
    width: 3em;
    height: 3em;
    margin-right: .5em;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      margin-right: 1em;
    }
  }
}

main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 65em;
  flex: 1;
}

main > section {
  // width: 75%;
  width: 100%;
}

main > aside {
  // width: 25%;
}

footer {
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  color: #333;
  font-family: Georgia;
  font-style: italic;
}
