{% extends "blog/base.html" %} 

<!-- title -->
{% block title %}
    <title>PepperPapa's Blog</title>
{% endblock %}

<!-- customer stylesheet -->
{% block stylesheet %}
    {% load static %}   <!-- 使用static前必须先load -->
    <link href="{% static 'blog/blog.css' %}" rel="stylesheet">
{% endblock %}

<!-- content -->
{% block content %} 
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post_detail.title }}</h2>
                <p class="blog-post-meta">{{ post_detail.pub_date }}</p>
                <div class="blog-post-text">{{ post_detail.content | safe }}</div>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p>在一个崇高的目标支持下，不停地工作，即使慢，也一定会获得成功。----<em>爱因斯坦</em></p>
            </div>
            <div class="sidebar-module">
            <h4>分类</h4>
            <ol class="list-unstyled">
                {% if all_tag_list %}
                    {% for tag in all_tag_list %}
                        <li><a href="/blog/list/{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a href="/admin/blog/tags/add/" target="_blank">+添加标签</a></li>
                {% endif %} 
            </ol>
            </div>
            <div class="sidebar-module">
            <h4>关注我</h4>
            <ol class="list-unstyled">
                <li><a href="https://github.com/PepperPapa" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/xin-zhong-a92218144/" target="_blan">LinkedIn</a></li>
            </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
{% endblock %}

<!-- javascript -->
{% block javascript %}

{% endblock %}